*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#colores{
	width: 80%;
}
#ej1{
	width: 100%;
	border-radius: 6px;
}
.subtitulo{
	padding: 0.5em;
	background: #dcdcdc;
}
.titulo{
	font-size: 2.5em;
}